#pane1{
	-fx-background-image: url("/home1.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#pane2{
	-fx-background-image: url("/home2.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 115%;
	-fx-background-position: center center;
}

#pane3{
	-fx-background-image: url("/home3.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#set1{
	-fx-background-image: url("/setting1.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#set2{
	-fx-background-image: url("/setting2.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#set3{
	-fx-background-image: url("/setting3.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
}

#regle{
	-fx-background-image: url("/regle.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-border-color: white ;
}


#button1{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button1_1.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 75%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #215c5a, 30, 0.5, 0, 0);
}

#button1:hover{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button1_2.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #47897b, 30, 0.5, 0, 0);
}

#button1:pressed{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button1_3.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 75%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #215c5a, 30, 0.5, 0, 0);
}

#button2{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button2_1.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#button2:hover{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button2_2.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#button2:pressed{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button2_3.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#button3{
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, white, 10, 0.9, 0, 0);
}
#button3:hover{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_1.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #6B96D6, 30, 0.5, 0, 0);
}
#button3:pressed{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_2.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #6B96D6, 30, 0.5, 0, 0);
}

#buttonS3{
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, white, 10, 1, 0, 0);
}
#buttonS3:hover{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_1.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #6B96D6, 30, 0.5, 0, 0);
}
#buttonS3:pressed{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_2.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, #6B96D6, 30, 0.5, 0, 0);
}

#buttonSet{
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
}

#playButton3{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, black, 10, 1, 0, 0);
}
#playButton3:hover{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_1.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.3, 0, 0);
}
#playButton3:pressed{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/button3_2.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.3, 0, 0);
}


.label{
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.55, 0, 0);
}

#true{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/cercle.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.3, 0, 0);
}

#false{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-image: url("/cross.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0.3, 0, 0);
}

#music_on{
	-fx-background-color: transparent;
	-fx-background-image: url("/music.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, white, 10, 0.3, 0, 0);
}

#music_on:hover{
	-fx-background-color: transparent;
	-fx-background-image: url("/music_hover.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, white, 10, 0.3, 0, 0);
}

#music_off{
	-fx-background-color: transparent;
	-fx-background-image: url("/music-1.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 100% 100%;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, white, 10, 0.3, 0, 0);
}
